@import url('./reset.css');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  color: #fff;
  font: inherit;
  border: none;
}
button:hover {
  background: #6c8cff;
}
.submit-button {
  width: 91px;
}
.load-more-button {
  display: block;
  width: 125px;
  margin: 0 auto;
}
.load-more-button.is-hidden {
  display: none;
}
.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  max-width: 371px;
  margin: 0 auto 32px;
}
.search-input {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  font: inherit;
  outline: none;
}
.search-input::placeholder {
  color: #808080;
}
.search-input:hover {
  border: 1px solid #000;
}
.search-input:focus {
  border: 1px solid #4e75ff;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  align-items: center;
  justify-content: center;
  margin: 32px;
}
.gallery-item {
  display: flex;
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  position: relative;
}
.gallery-image {
  object-fit: cover;
}
.gallery-item > .info {
  position: absolute;
  bottom: 0;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 360px;
  background: #fff;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loader {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 48px;
  height: 48px;
  border: 5px solid #808080;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader.is-hidden {
  display: none;
}
